@charset "UTF-8";

/*
author : Charnet Valentin
description : CSS PageInscription
Date last update : 26/08/21
*/

h1.titleInscrption{
	flex-grow: 2;
	display : flex;
	font-size: 200%;
	font-family : Courier;
	color: black;
	align-content: center;
	margin-top: 50px;
	width: auto;
	height: auto;
	text-align: center;
	justify-content: center;
}
p{
	color: red;
}
form{
	display: block;
	align-content: center;
	text-align: center;
	justify-content: center;
}
div.cadreWriteInscription{
	display: flex;
	flex-direction: row;
	justify-content: center;
}
div.firstcolumn{
	display: flex;
	flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    margin-right: 10px;
}
div.secondcolumn{
	display: flex;
	flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    margin-left: 10px;
}
div.pseudo{
	display: block;
	flex-direction: row;
	justify-content: space-between;
}
div.mdp{
	display: block;
	flex-direction: row;
	justify-content: space-between;
}
div.surname{
	display: block;
	flex-direction: row;
	justify-content: space-between;
}
div.firstname{
	display: block;
	flex-direction: row;
	justify-content: space-between;
}
div.email{
	display: block;
	flex-direction: row;
	justify-content: space-between;
}
div.phone{
	display: block;
	flex-direction: row;
	justify-content: space-between;
}
div.adress{
	display: block;
	flex-direction: row;
	justify-content: space-between;
}
div.postalCode{
	display: block;
	flex-direction: row;
	justify-content: space-between;
}
div.Town{
	display: block;
	flex-direction: row;
	justify-content: space-between;
}
button.createButton{
	text-decoration : none;
	font-size: 100%;
	font-family : papyrus;
	background-color: #203F7B;
	color: white;
	border: solid;
	border-color : #203F7B;
	border-radius: 5px;
	border-width: 2px;
	height: auto;
	cursor: pointer;
}
a.cancelButton{
	text-decoration : none;
	font-size: 100%;
	font-family : papyrus;
	background-color: #203F7B;
	color: white;
	border: solid;
	border-color : #203F7B;
	border-radius: 5px;
	border-width: 2px;
	height: auto;
	cursor: pointer;
}
div.errorMessage{
	display: flex;
}
